pd-searchable-list {
	display: block;

	input[type="search"] {
		border-radius: 1em;
		border: none;
		outline: none;
		padding-left: .5em;
		padding-right: .5em;
		width: 100%;
		box-sizing: border-box;
		opacity: .6;
		transition: opacity .2s;
		line-height: 1.5em;

		&:focus {
			opacity: 1;
		}

		&::placeholder {
			font-weight: 100;
		}
	}

	header.search {
		padding: .6em .5em;
		//background: rgba(white, .1);
		opacity: .7;
		transition: opacity .3s;
		&:hover {
			opacity: 1;
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}

	%hint {
		padding-top: .5em;
		font-size: 2em;
		color: rgba(white, .3);
		text-align: center;
		&:after {

		}
	}

	.no-results {
		@extend %hint;

		&:after {
			content:'No results';
		}
	}

	.no-items {
		@extend %hint;

		&:after {
			content:'No items';
		}
	}
}
